
//
// VARIABLES
//

// Colors
$jn_c1: #4183C4;
$jn_c2: #000;
$jn_c3: #222;
$jn_c4: #333;
$jn_c5: #666;
$jn_c6: #eee;
$jn_c7: #f8fafc;

// Font stacks
$helvetica: "Inter", "Helvetica Neue", Helvetica, Arial, sans-serif;
$helveticaNeue: "Inter", sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
